{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="{% static  '/css/home.css' %}">
      <!-- js file -->
      <script src="{% static '/js/stopwatch.js' %}"></script>
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
   </head>
   <body>

      <!-- this is the side bar -->
      <div class="sidenav">
         <p class ="title-sidenav"> clockify_clone</p>
         <div class="sidenav-items">
            <ul>
               <a href="#Time">TIME TRACKER</a>
               <a href="#Dashboard">DASHBOARD</a>
            </ul>
         </div>
         <!-- end of the sidebar nav-->
      </div>


      <section class="section-01" id="#Time">
         <!-- add project -->
         <div class = "add-project">
            <form action = "/addproject/" method = "post"> {% csrf_token %}
               <input type="text" value = "add project" name ="content"/>
               <input type="submit" value = "Add project"/>
            </form>

            <!-- this the stop watch -->
             <div class ="stopwatch-counter">
             
            
             <div> <button onclick="start()">Start</button>
                   <button onclick="pause()">Pause</button>
                   <button onclick="stop()">stop</button> 
             </div>

            <div  id = "stopwatch-text" class="stopwatch-text">00:00:00</div>

             <ul class="laps"> </ul>
            </div>

         </div>
         <!-- list of projects-->
         <div class="list-style">
            <ul>
               {% for eachproject in all_projects %}
               <li>
                  {{eachproject.content}}
                  <form action = "/deleteproject/{{eachproject.id}}/" method = "post"> {% csrf_token %}
                     <input type="submit" value = "Delete"/>
                  </form>
               </li>
               {% endfor %}
            </ul>
         </div>

        
      </section>


      <section class="section-01 section-02" id="#Dashboard">
      </section>
   </body>
</html>