body {
    background-color: #66FF99;
    font-family: "Raleway";
}

h1 {
    color: #000000;
    margin-left: 20px;
}


/* side bar */

.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.Timetracker-title {
    position: relative;
    left: 30%;
    color: #ffffff;
    font-weight: 900;
    font-size: 3vw;
}


/* side bar title */

.title-sidenav {
    color: #ffffff;
    text-align: center;
    font-size: 2vw;
    font-weight: 800;
}

.sidenav-items {
    display: flex;
    align-items: center;
}

.sidenav-items ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
}

.sidenav-items a {
    padding: 20px 8px 14px 30px;
    text-decoration: none;
    font-size: 1vw;
    color: #ffffff;
    display: block;
    left: 10px;
}

.sidenav-items a:hover {
    color: #66FF99;
}


/* Section- 01 styling */

.section-01 {
    height: 100vh;
    width: 100%;
    color: #000000;
    overflow: hidden;
}

.add-project {
    position: relative;
    height: 120px;
    width: 60%;
    background-color: #ffffff;
    top: 100px;
    left: 550px;
}

.projectinput {
    position: relative;
    top: 40px;
    left: 5%;
    width: 20%;
    color: #000000;
}

.projectinputsumbit {
    position: relative;
    top: 40px;
    left: 8%;
    border-style: none;
    background-color: #000000;
    color: #ffffff;
    width: 10%;
    height: 30px;
}

.added-projects {
    position: relative;
    height: 120px;
    width: 60%;
    background-color: #ffffff;
    top: 100px;
    left: 500px;
    margin: 1%;
    list-style: none;
}

.added-projectinput {
    position: relative;
    top: 50px;
    left: 5%;
    width: 20%;
    color: #000000;
    font-size: 1vw;
    font-weight: bold;
}

.delete-project {
    position: relative;
    top: 10px;
    left: 30%;
    border-style: none;
    background-color: #000000;
    color: #ffffff;
    width: 10%;
    height: 30px;
}

.stopwatch-counter {
    position: relative;
    left: 75%;
    top: 10px;
}

.stopwatch-buttons button {
    background-color: #C7D9D9;
    color: #000000;
    border-style: none;
    font-size: 1vw;
    height: 40px;
    width: 6%;
}

.stopwatch-text {
    position: relative;
    right: 10%;
    bottom: 30px;
    font-weight: 800;
    font-size: 1vw;
}

.laps {
    position: relative;
}

.stopwatch-counter-secound {
    position: relative;
    left: 75%;
    bottom: 20px;
}


/* section- 02 styling */

.section-02 {
    height: 150vh;
    width: 100%;
    color: #000000;
    overflow: hidden;
}

.laps {
    color: black;
    font-weight: 700;
    position: relative;
    right: 300px;
    bottom: 75px;
    font-size: 1vw;
}

.bar-chart-div {
    position: relative;
    left: 40%;
}

.bar-chart {
    background-color: #ffffff;
}

.Dashboard-title {
    position: relative;
    left: 30%;
    color: #ffffff;
    font-weight: 900;
    font-size: 3vw;
}

.chart-style {
    position: relative;
    left: 10px;
    top: 200px;
}